#hasiflk{
    padding-left: 34px;
}
#navbar{
    margin-left: 283px;
}
.btn.btn-primary {
    border: 1px solid !important;
    box-shadow: 0px 24px 36px -11px rgb(0 0 0 / 9%);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 40px;
}
